{% extends "base.html" %}
{% block content %}

    <h2 class="page-title">Add Cuisine</h2>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_cuisine') }}">
            <div class="class-panel">
                <!-- cuisine name -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="cuisine_name" name="cuisine_name" minlength="3" maxlength="25" type="text" class="validate" required />
                        <label for="cuisine_name">Cuisine Name</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn waves-effect waves-light full-width gather-colour">
                            Add Cuisine
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}