{% extends "base.html" %}
{% block content %}

    <h3 class="page-title-responsive">Manage Cuisines</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_cuisine') }}" class="btn gather-colour">Add Cuisine <i class="fa-solid fa-plus icon-padding"></i></a>
        </div>
    </div>

    <div class="row">
        {% for cuisine in cuisines %}
        <div class="col s12 m6 xl4">
            <div class="card cuisine-card center-align">
                <div class="card-content">
                    <span class="card-title">{{ cuisine.cuisine_name }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_cuisine', cuisine_id=cuisine.id) }}" class="waves-effect waves-light btn btn-black tooltipped" data-position="bottom" data-tooltip="Edit Cuisine">Edit <i class="fa-solid fa-pen-to-square icon-padding"></i></a>
                    <a href="{{ url_for('delete_cuisine', cuisine_id=cuisine.id) }}" class="waves-effect waves-light btn btn-black tooltipped" data-position="bottom" data-tooltip="Delete Cuisine">Delete <i class="fa-solid fa-trash-can icon-padding"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}