{% extends "base.html" %}
{% block content %}

    <h3 class="page-title">Hey {{ user_name }}, welcome to your dashboard</h3>

    <div class="row">
        {% for recipe in user_recipes %}

            <div class="col s12 m4">
              <div class="card hoverable">
                <div class="card-image">
                  <div class="card-image-colour">
                    <span class="colour-code">{{recipe.colour_code}}</span>
                  </div>
                  <span class="card-title">{{recipe.recipe_name}}</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light gather-colour activator "><i class="fa-solid fa-plus"></i></a>
                </div>
                <div class="card-content">
                  <p>By {{recipe.author}}.</p>
                  <div class="array-string">Tags: {{recipe.tags}}</div>
                  {% for cuisine in cuisines %}
                    {% if cuisine.id == recipe.cuisine_id | int %}
                        <p>{{ cuisine.cuisine_name }}</p>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{recipe.recipe_name}}<i class="fa-solid fa-xmark"></i></span>
                    <h6>Ingrediants</h6>
                    <div class="string-to-array">{{recipe.ingrediant_list}}</div>
                    <h6>Equipment Needed:</h6>
                    <div class="string-to-array">{{recipe.equipment_list}}</div>
                    <p>Servings: {{recipe.serves}}</p>
                    <p>Takes: {{recipe.duration}}</p>
                    <p>Difficulty Level: {{recipe.difficulty}}</p>
                    <h6>Steps:</h6>
                    <div class="string-to-array">{{recipe.instructions}}</div>
                    <p>URL: {{recipe.url}}</p>
                </div>
                  <div class="recipe-buttons">
                  {% if session.user|lower == recipe.author|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-small">Edit</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-small">Delete</a>
                      <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal{{recipe.id}}">Modal</a>
                    <!-- Modal Structure -->
                    <div id="modal{{recipe.id}}" class="modal">
                      <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>Deleting Recipe {{recipe.id}}}</p>
                      </div>
                      <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Exit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-small">Delete</a>
                      </div>
                    </div>
                  {% endif %}
                  </div>
              </div>
            </div>
            
        {%  endfor %}
    </div>


{% endblock %}
