{% extends "base.html" %}
{% block content %}

    <h3 class="page-title-responsive">Edit Cuisine</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_cuisine', cuisine_id=cuisine.id) }}">
            <div class="card-panel">
            <!-- cuisine name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="cuisine_name" name="cuisine_name" minlength="3" maxlength="25"
                        type="text" value="{{ cuisine.cuisine_name }}" class="validate" required>
                    <label for="cuisine_name">Cuisine Name</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('manage_cuisines') }}" class="btn waves-effect waves-light btn-black">
                        Cancel <i class="fa-solid fa-xmark"></i>
                    </a>
                    <button type="submit" class="btn waves-effect waves-light gather-colour">
                        Edit Cuisine <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </div>
            </div>
        </div>
        </form>
    </div>

{% endblock %}