{% extends "base.html" %} 
{% block content %}

<h3 class="page-title-responsive">Edit Recipe</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="card-panel">
            <!--Recipe Name-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" type="text" class="validate" required />
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Cuisine selection -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="cuisine_id" name="cuisine_id" class="validate" required>
                        <option value="" disabled>Choose Cuisine</option>
                        {% for cuisine in cuisines %} {% if cuisine.id == recipe.cuisine_id | int %}
                        <option value="{{ cuisine.id }}" selected>{{ cuisine.cuisine_name }}</option>
                        {% else %}
                        <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                        {% endif %} {% endfor %}
                    </select>
                    <label for="cuisine_name">Cuisine</label>
                </div>
            </div>
            <!--Ingrediant list (Saved as an array on Mongo DB)-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingrediant_list" name="ingrediant_list" class="materialize-textarea array-string" required>
                   {{- recipe.ingrediant_list -}}

                    </textarea>
                    <label for="ingrediant_list">Ingrediant List</label>
                </div>
            </div>
            <!--Instructions/ Steps (Saved as an array on Mongo DB)-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="instructions" name="instructions" class="materialize-textarea array-steps-string" required>
                    {{- recipe.instructions -}}

                    </textarea>
                    <label for="instructions">Instructions</label>
                </div>
            </div>
            <!--Difficulty (Select) and Duration (number)-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <select id="difficulty" name="difficulty" class="validate">
                        <option value="" disabled>Choose Difficulty Level</option>
                        {% for difficulty_level in difficulty_levels %} {% if difficulty_level == recipe.difficulty %}
                        <option value="{{ difficulty_level }}" selected>{{ difficulty_level }}</option>
                        {% else %}
                        <option value="{{ difficulty_level }}">{{ difficulty_level }}</option>
                        {% endif %} {% endfor %}
                      </select>
                    <label for="difficulty">Difficulty</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="duration" name="duration" value="{{ recipe.duration }}" type="number" class="validate" required/>
                    <label for="duration">Duration (in minutes)</label>
                </div>
            </div>
            <!--Serving Size (Number)-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="serves" name="serves" value="{{ recipe.serves }}" type="number" class="validate" required/>
                    <label for="serves">Serves</label>
                </div>
            </div>
            <!--Image URL-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="image_url" name="image_url" value="{{ recipe.image_url }}" type="text" class="validate" />
                    <label for="image_url">Image URL</label>
                </div>
            </div>
            <!--Tags (Saved as an array on Mongo DB)-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="tags" name="tags" type="text" class="materialize-textarea array-string" required>
                    {{- recipe.tags -}}

                    </textarea>
                    <label for="tags">Tags</label>
                </div>
            </div>
            <!--URL-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="url" name="url" value="{{ recipe.url }}" type="text" class="validate" />
                    <label for="url">URL</label>
                </div>
            </div>
            <!--Submit button-->
            <div class="row">
                <div class="col s12 recipe-buttons">
                    <!--cancel button-->
                    <a href="{{ url_for('dashboard', user_name=session['user']) }}" class="btn waves-effect waves-light btn-black">Cancel <i class="fa-solid fa-xmark icon-padding"></i></a>
                    <button class="btn waves-effect waves-light gather-colour" type="submit">Edit Recipe <i class="fa-solid fa-pen-to-square icon-padding"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}