{% extends "base.html" %} 
{% block content %}

</div>

<div class="jumbotron">
    <div class="jumbatron-overlay"></div>
    <div class="jumbatron-content">
        <h2 class="page-title-responsive">All your favourite recipes</h2>
        <h3 class="page-subtitle">Gathered in one place</h3>
        {% if session.user %}
        <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light gather-colour">Discover Recipes</a>
        {% else %}
        <a href="{{ url_for('register') }}" class="btn waves-effect waves-light gather-colour">Get Started</a>
        {% endif %}
    </div>
</div>

<div class="container">
        <div class="row three-across">
            <div class="col s12 m6 l4 center-align offset-m2">
                <div class="card-panel">
                <h4><i class="fa-solid fa-layer-group gather-red-text"></i></h4>
                <h4 class="page-title gather-red-text">Submit</h4>
                <p>Condense your cookbooks and upload recipes to your profile.</p>
                </div>
            </div>
            <div class="col s12 m6 l4 center-align offset-m2">
                <div class="card-panel">
                <h4><i class="fa-solid fa-users gather-red-text"></i></h4>
                <h4 class="page-title gather-red-text">Share</h4>
                <p>Join the Gather community and discover recipes from other users.</p>
            </div>
            </div>
            <div class="col s12 m6 l4 center-align offset-m2">
                <div class="card-panel">
                <h4><i class="fa-solid fa-star gather-red-text"></i></h4>
                <h4 class="page-title gather-red-text">Save</h4>
                <p>Add to favourites and easily access your go-to recipes.</p>
            </div>
            </div>
    </div>

    <h4 class="page-title">Recently Added Recipes</h4>
    <div class="row">
        {% for recently_added_recipe in recently_added_recipes %}

        <div class="col s12 m6 xl4">
            <div class="card hoverable">
                <div class="card-image">
                    <div class="card-image-url">
                        <span class="image-url">{{recently_added_recipe.image_url}}</span>
                    </div>
                    <a class="btn-floating halfway-fab waves-effect waves-light gather-colour activator tooltipped" data-position="bottom" data-tooltip="Quick View"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
                <div class="card-content">
                    <span class="card-title">{{recently_added_recipe.recipe_name}}</span>
                    <p class="card-preview">By {{recently_added_recipe.author}}.</p>
                    <div class="array-string card-preview">Tags: {{recently_added_recipe.tags}}</div>
                    {% for cuisine in cuisines %} {% if cuisine.id == recently_added_recipe.cuisine_id | int %}
                    <p class="card-preview">{{ cuisine.cuisine_name }}</p>
                    {% endif %} {% endfor %}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="fa-solid fa-xmark right"></i>{{recently_added_recipe.recipe_name}}</span>
                    <p>Servings: {{recently_added_recipe.serves}}</p>
                    <p>Takes: {{recently_added_recipe.duration}} minutes</p>
                    <p>Difficulty Level: {{recently_added_recipe.difficulty}}</p>
                    <h6>Ingrediants</h6>
                    <div class="string-to-array">{{recently_added_recipe.ingrediant_list}}</div>
                    <h6>Steps:</h6>
                    <div class="steps-string-to-array">{{recently_added_recipe.instructions}}</div>
                    <p>URL: <a href="{{recently_added_recipe.url}}" target="_blank">{{recently_added_recipe.url}}</a></p>
                </div>
                <div class="recipe-buttons">
                    <a href="{{ url_for('view_recipe', recipe_id=recently_added_recipe._id)}}" class="waves-effect waves-light btn-small btn-black tooltipped" data-position="bottom" data-tooltip="View Recipe">View <i class="fa-regular fa-file"></i></a>
                    {% if session.user %}
                    <a href="{{ url_for('add_favourite', recipe_id=recently_added_recipe._id)}}" class="waves-effect waves-light btn-small btn-black tooltipped" data-position="bottom" data-tooltip="Favourite Recipe">Favourite <i class="fa-regular fa-star"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}