<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gather Recipe Website</title>
</head>
<body>
    {% for recipe in recipes %}
        {{recipe.recipe_name}}<br>
        {{recipe.author}}<br>
        {{recipe.tags}}<br>
        {{recipe.ingrediant_list}}<br>
        {{recipe.equipment_list}}<br>
        {{recipe.serves}}<br>
        {{recipe.cuisine}}<br>
        {{recipe.duration}}<br>
        {{recipe.difficulty}}<br>
        {{recipe.instructions}}<br>
        {{recipe.url}}<br>
        {{recipe.timestamp}}<br>
    {%  endfor %}
    
</body>
</html>