{% extends "base.html" %}
{% block content %}

<h3 class="page-title">Submit Recipe</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('submit_recipe') }}">
        <!--Recipe Name-->
        <div class="row">
            <div class="input-field col s12">
              <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
              <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!--Tags (Make into array)-->
        <div class="row">
            <div class="input-field col s12">
              <input id="tags" name="tags" type="text" class="validate">
              <label for="tags">Tags</label>
            </div>
        </div>
        <!-- Cuisine selection -->
        <div class="row">
            <div class="input-field col s12">
                <select id="cuisine_id" name="cuisine_id" class="validate" required>
                    <option value="" disabled selected>Choose Cuisine</option>
                    {% for cuisine in cuisines %}
                        <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                    {% endfor %}
                </select>
                <label for="cuisine_id">Cuisine</label>
            </div>
        </div>
        <!--Ingrediant list (Make into array?)-->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="ingrediant_list" name="ingrediant_list" class="materialize-textarea" placeholder="Use a comma to seperate items. E.g. 50g flour, 50g butter, ..."></textarea>
                <label for="ingrediant_list">Ingrediant List</label>
            </div>
        </div>
        <!--Equipment list (Make into array?)-->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="equipment_list" name="equipment_list"class="materialize-textarea"></textarea>
                <label for="equipment_list">Equipment List</label>
            </div>
        </div>
        <!--Instructions-->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="instructions" name="instructions" class="materialize-textarea"></textarea>
                <label for="instructions">Instructions</label>
            </div>
        </div>
        <!--Difficulty (numbver select) and duration (and time picker)-->
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="difficulty" name="difficulty" type="text" class="validate">
                <label for="difficulty">Difficulty</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="duration" name="duration" type="text" class="validate" placeholder="e.g. 1 hour 30 mins">
                <label for="duration">Duration</label>
            </div>
        </div>
        <!--Serves (swap for number picker) and colour picker-->
        <div class="row">
            <div class="col s12 m6">
                <label for="serves">Serves</label>
                <p class="range-field">
                    <input id="serves" name="serves" type="range" id="test5" min="0" max="12" class="validate"/>
                </p>
            </div>
            <div class="input-field col s12 m6">
                <input id="colour_code" name="colour_code" type="text" class="validate">
                <label for="colour_code">Colour</label>
            </div>
        </div>
        <!--URL-->
        <div class="row">
            <div class="input-field col s12">
                <input id="url" name="url" type="text" class="validate">
                <label for="url">URL</label>
            </div>
        </div>
        <!--submit button-->
        <div class="row">
            <div class="col s12">
                <button id="submit-recipe" class="btn waves-effect waves-light" type="submit">
                    Submit Recipe
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}