{% extends "base.html" %} 
{% block content %}

<h3 class="page-title">Submit Recipe</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('submit_recipe') }}">
        <div class="card-panel">
            <!--Recipe Name-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" maxlength="50" required />
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Cuisine selection -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="cuisine_id" name="cuisine_id" class="validate" required>
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% for cuisine in cuisines %}
                        <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="cuisine_id">Cuisine</label>
                </div>
            </div>
            <!--Ingrediant list (Make into array?)-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingrediant_list" name="ingrediant_list" class="materialize-textarea" placeholder="Use a comma to seperate items. E.g. 50g flour, 50g butter, ..." required></textarea>
                    <label for="ingrediant_list">Ingrediant List</label>
                </div>
            </div>
            <!--Instructions-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="instructions" name="instructions" class="materialize-textarea" placeholder="Use a new line to seperate steps" required></textarea>
                    <label for="instructions">Instructions</label>
                </div>
            </div>
            <!--Difficulty (select) and duration (number)-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <select id="difficulty" name="difficulty" class="validate">
                        <option value="" disabled selected>Choose Difficulty Level</option>
                        {% for difficulty_level in difficulty_levels %}
                          <option value="{{ difficulty_level }}">{{ difficulty_level }}</option>
                        {% endfor %}
                      </select>
                      <label for="difficulty">Difficulty</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="duration" name="duration" type="number" class="validate" placeholder="e.g. 90" required/>
                    <label for="duration">Duration (in minutes)</label>
                </div>
            </div>
            <!--Serves (number)-->
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="serves" name="serves" placeholder="e.g. 4" type="number" class="validate" required/>
                    <label for="serves">Serves</label>
                </div>
            </div>
            <!--Image URL-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="image_url" name="image_url" type="text" class="validate" />
                    <label for="image_url">Image URL</label>
                </div>
            </div>
            <!--Tags (Make into array)-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="tags" name="tags" type="text" maxlength="50" placeholder="Use a comma to seperate items. E.g. Vegetarian, Vegan, Gluten Free, Dessert, Starter" class="validate" required/>
                    <label for="tags">Tags</label>
                </div>
            </div>
            <!--URL-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="url" name="url" type="text" class="validate" />
                    <label for="url">URL</label>
                </div>
            </div>
            <!--submit button-->
            <div class="row">
                <div class="col s12">
                    <button id="submit-recipe" class="btn waves-effect waves-light full-width gather-colour" type="submit">
                        Submit Recipe
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
