{% extends "base.html" %}
{% block content %}

<h3 class="page-title">{{recipe.recipe_name}}</h3>

<button onclick="history.back()">Go Back</button>

<div class="row">
        <div class="col s12">
            <p>By {{recipe.author}}.</p>
            <div class="array-string">Tags: {{recipe.tags}}</div>
            <p>Put in cuisine here?</p>
            <h6>Ingrediants</h6>
            <div class="string-to-array">{{recipe.ingrediant_list}}</div>
            <h6>Equipment Needed:</h6>
            <div class="string-to-array">{{recipe.equipment_list}}</div>
            <p>Servings: {{recipe.serves}}</p>
            <p>Takes: {{recipe.duration}}</p>
            <p>Difficulty Level: {{recipe.difficulty}}</p>
            <h6>Steps:</h6>
            <div class="steps-string-to-array">{{recipe.instructions}}</div>
            <p>URL: {{recipe.url}}</p>
            {% if session.user|lower == recipe.author|lower %}
              <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-small">Edit</a>
              <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-small">Delete</a>
            {% endif %}
        </div>
</div>

{% endblock %}