/*--------------------- Google Fonts Import --------------------*/

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&family=Kalam:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

/*--------------------- Font Options (To be deleted) --------------------*/

/* font-family: 'Abril Fatface', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Kalam', cursive;
font-family: 'Roboto', sans-serif; */

/*--------------------- Base Template Styles --------------------*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #eceff1;
    box-shadow: none;
    border-bottom: 2px solid #d55d1c;
}

nav ul a {
    color: #3e3d43;
    font-weight: 400;
}

nav .brand-logo,
.mobile-logo {
    font-family: "Fredoka One", cursive;
    color: #d71a2c;
}

.mobile-logo {
    padding: 0 32px;
}

body {
    background-color: #eceff1;
    font-family: "Roboto", sans-serif;
    color: #3e3d43;
}

/*--------------------- Footer Styles --------------------*/

.page-footer {
    background-color: #eceff1;
    border-top: 2px solid #93b2da;
    color: #3e3d43;
}

.footer-title {
    font-family: "Fredoka One", cursive;
    color: #d71a2c;
}

/*--------------------- Page Titles --------------------*/

.page-title {
    font-family: "Fredoka One", cursive;
    text-align: center;
}

/*--------------------- Cards --------------------*/

.card {
    height: 400px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*cuisine cards*/
.card.cuisine-card {
    height: 200px;
}

.card-image-colour {
    height: 175px;
}

/*Hidden code displayed on colour top on card*/
.colour-code {
    display: none;
}

.card-preview {
  padding: 4px 0 4px 0;
}

/*--------------------- Buttons --------------------*/

.recipe-buttons {
    margin-top: auto;
    text-align: center;
    padding-bottom: 10px;
}

.gather-colour,
.btn-black:hover {
    background-color: #d71a2c;
}

.btn-floating:hover,
.btn-black,
.gather-colour:hover {
    background-color: #3e3d43;
}

.full-width {
    width: 100%;
}

/*--------------------- Form Componants --------------------*/

#swatch {
    height: 40px;
    color: white;
}

/*--------------------- Lists --------------------*/

.string-to-array ul:not(.browser-default)>li {
  list-style-type: circle;
  padding-top: 4px;
  padding-bottom: 4px;
}

.string-to-array ul:not(.browser-default) {
  padding-left: 40px;
}

ol li {
  padding-top: 4px;
  padding-bottom: 4px;
}