/*--------------------- Google Fonts Import --------------------*/

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&family=Kalam:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

/*--------------------- Body and Font Styles --------------------*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background-color: #eceff1;
    font-family: "Roboto", sans-serif;
    color: #3e3d43;
}

a {
    color: #d71a2c;
}

.text-bold {
    font-weight: bold;
}

.gather-red-text {
    color: #d71a2c;
}

/*Applied so logo can be in h1 tag*/
h1 {
    margin: 0;
}

/*--------------------- Nav Styles --------------------*/

nav {
    background-color: #eceff1;
    box-shadow: none;
    border-bottom: 2px solid #acddd7;
}

nav ul a {
    color: #3e3d43;
    font-weight: 400;
}

nav .brand-logo {
    font-family: "Fredoka One", cursive;
    color: #d71a2c;
}

#mobile-logo {
    font-family: "Fredoka One", cursive;
    color: #d71a2c;
    font-size: x-large;
}

.fa-bars {
    color: #3e3d43
}

.sidenav {
    padding-top: 10px;
}

/*--------------------- Flash Messaging Styles --------------------*/

.flashes {
    background-color: rgba(215, 26, 44, 0.2);
    border-radius: 6px;
    display: flex;
    padding-left: 20px;
    margin-top: 6px;
    margin-bottom: 0;
    color: #d71a2c;
}

/*--------------------- Footer Styles --------------------*/

.page-footer {
    background-color: #eceff1;
    border-top: 2px solid #acddd7;
    color: #3e3d43;
}

.footer-title {
    font-family: "Fredoka One", cursive;
    color: #d71a2c;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links a i {
    font-size: xx-large;
    color: #d71a2c;
}

/*--------------------- Page Titles --------------------*/

.page-title {
    font-family: "Fredoka One", cursive;
    text-align: center;
}

.page-title-responsive {
    font-size: xx-large;
    font-family: "Fredoka One", cursive;
    text-align: center;
}

.page-subtitle {
    font-family: "Fredoka One", cursive;
    text-align: center;
    font-size: x-large;
}

.view-recipe-subtitle {
    font-size: large;
}

/*--------------------- Index Page Styles --------------------*/

.jumbotron {
    height: 300px;
    background-image : url('../images/gather-splash-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbatron-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.jumbatron-content {
    z-index: 2;
    text-align: center;
}

.three-across {
    padding-top: 40px;
    padding-bottom: 40px;
}

.three-across i {
    font-size: xx-large;
}

/*--------------------- Cards --------------------*/

.card {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*cuisine cards*/
.card.cuisine-card {
    height: 200px;
}

.card-image-url {
    height: 175px;
}

/*Hidden code displayed on colour top on card*/
.image-url {
    display: none;
}

.card-preview {
  padding: 4px 0 4px 0;
}

/*Default image if no image URL is supplied*/
.holding-image {
    background-image : url('../images/gather-placeholder.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*--------------------- Buttons --------------------*/

.recipe-buttons {
    margin-top: auto;
    text-align: center;
    padding-bottom: 10px;
}

.gather-colour,
.btn-black:hover {
    background-color: #d71a2c;
}

.btn-floating:hover,
.btn-black,
.gather-colour:hover {
    background-color: #3e3d43;
}

.full-width {
    width: 100%;
}

.icon-padding {
    padding-left: 4px;
}

.icon-padding-right {
    padding-right: 4px;
}

/*--------------------- Forms --------------------*/

.inline-inform {
    display: inline;
}

/*--------------------- Lists --------------------*/

.string-to-array ul:not(.browser-default)>li {
  list-style-type: circle;
  padding-top: 4px;
  padding-bottom: 4px;
}

.string-to-array ul:not(.browser-default) {
  padding-left: 40px;
}

ol li {
  padding-top: 4px;
  padding-bottom: 4px;
}

/*--------------------- Media Queries --------------------*/

/*Adds padding to top of social links on bigger screens*/
@media screen and (min-width: 1024px) {

    .social-links {
        padding-top: 30px;
    }

}

/*Adds padding to top of search bar buttons on bigger screens*/
@media screen and (min-width: 768px) {

    .search-buttons div {
        padding-top: 30px;
    }

}

/*Center aligns footer content on smaller screens. Also improves spacing around buttons and on recipe cards*/
@media screen and (max-width: 768px) {
    
    .page-footer {
        text-align: center;
    }

    .btn {
        margin: 2px;
    }

    .card .card-title {
        font-size: large;
        font-weight: 400;
    }

}